/* CSS Document */

#login{width:310px; padding:10px;}
#login td{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold}
#registration{ background-color:#00FFCC; padding:10px; float:left; width:450px}